vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-UKBCL1I\\waduz
vti_modifiedby:SR|DESKTOP-UKBCL1I\\waduz
vti_timelastmodified:TW|03 Nov 2020 18:34:56 -0000
vti_timecreated:TR|02 Nov 2020 17:08:29 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|assignment3/Assignment3.html
vti_nexttolasttimemodified:TW|03 Nov 2020 18:34:56 -0000
vti_cacheddtm:TX|03 Nov 2020 18:34:56 -0000
vti_filesize:IR|2607
vti_cachedlinkinfo:VX|S|image/animated-bullet-10.gif
vti_cachedsvcrellinks:VX|FSUS|assignment3/image/animated-bullet-10.gif
